
  .button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #7e2705;
    color: white;
    padding: 0.15rem 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
  }

  .inputField{
      width: 45px;
      height: 25px;
  }

  .inputLabel{
      font-weight: bold;
  }

  .inputMain{
    align-items: center;
  }